.content{
    width: 90%;
    margin: 1.4rem auto;
}


.title{
    text-align: center;
    margin-bottom: 3rem
}

.title h1{
    font-size: 2rem;
    color: rgb(212, 207, 207);
    font-weight: 500;
}

button{
    margin-bottom: .8rem;
}
.table{
    width: 100%;
}

.edit{
    color: rgb(206, 173, 24);
}

.edit:hover{
    color:white
}

.livros{
    color: rgb(17, 125, 240);
    margin-left: .3rem;
}

.livros:hover{
    color: white;
}

.delete{
    color: rgb(228, 56, 56);
    margin-left: .5rem;
}

.delete:hover{
    color: white;
}

.mat-header{
    width: 5rem;
}