@import url('https://fonts.googleapis.com/css?family=Roboto');
form{
    text-align: center;
    width: 70%;
    margin: 2rem auto 0;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 3rem;
    color: rgb(212, 207, 207);
}

button{
    margin-right: .5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    transition: 0.3s;
}

textarea{
    height: 59px;
    outline: none !important;
    resize: none !important;
    max-height: 470px;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: white !important;
}

.form{
    width: 100%;

}

.buttons{
    width: 100%;
    text-align: start;
}


.btnConfirmar:enabled{
    background-color: blueviolet;
    color: white;
}

.btnCancelar:hover{
    background-color: rgb(223, 37, 37);
    color: white;
}
